.footer {
  padding: 30px 0 20px;
  background: #000;
}

.logo {
  width: 42px;
  height: 42px;
}

.socialIcon {
  color: #fff;
}

.socialLink {
  margin-left: 15px;
}

.socialLink:hover .socialIcon {
  color: #eee;
}

.copyright {
  color: #666;
}
